@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .pixelated{
        image-rendering: pixelated;
    }

    .border-reset{
        border:none;
        outline:none;
        border-width:0;
    }
}